@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@media (max-width: 414px) {
    /* أسلوب CSS */
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 300%;
}

/* Header Styling */
.header {
    background-color: rgb(255, 255, 254);
    width: 400px;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.0% 4%;
}

.logo {
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2vw;
    transition: 0.7s ease;
}

.logo:hover {
    font-size: 2.5vw;
    transform: scale(1.1);
}

.header .content {
    display: flex;
    justify-content: space-around;
    flex-grow: 0;
}

.header .content a {
    text-decoration: none;
    color: rgb(24, 91, 216);
    font-size: 2vw;
    font-weight: 500;
    padding: 1.5% 2%;    
    transition: 0.7s ease;
}

.header .content a:hover {
    font-size: 2.2vw;
    color: chocolate;
    transform: scale(1.1);
}

/* Section Styling */
.section {
    padding: 10% 5%;
}

/* Main Section Styling */
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(17, 22, 29);
    background-size: cover;
    background-position: center;
    padding: 10% 0;
    text-align: center;
}

.main h2 span {
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-size: 2.5em;
    font-weight: 500;
}

.main h3 {
    text-shadow: rgb(0, 0, 0);
    color: rgb(250, 212, 0);
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.main h2 {
    color: rgb(226, 187, 10);
    font-size: 1.4em;
    font-weight: 500;
}

.main img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.7s ease;
}

.main img:hover {
    transform: scale(1.1);
}

.project-btn {
    color: antiquewhite;
    background-color: rgb(199, 156, 16);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: 0.7s ease;
    text-align: center;
}

.project-btn:hover {
    background-color: rgb(43, 39, 39);
    transform: scale(1.1);
}

.icon {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icon a {
    color: rgb(255, 255, 255);
    margin: 0 10px;
    padding: 10px;
    transition: 0.7s ease;
    border-radius: 50px;
}

.icon a:hover {
    color: rgb(241, 169, 13);
    transform: scale(1.1);
}

/* Project Section Styling */
.project-section {
    padding: 5% 5%;
    background-color: rgb(118, 118, 145);
}

.project-title {
    font-weight: 800;
    font-size: 2.2em;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
}

.project-card {

    display: grid;
    place-items: center;
    gap: 20px; /* Adjust the gap between images as needed */
}

.project-image {
    max-width: 400px; /* Ensures the image scales down appropriately */
    height: 350px;
    display: block;
    margin: auto; /* Centers the image horizontally if needed */
}

/* Contact Section Styling */
.contact {
    background-color: #191919;
    padding: 5% 5%;
    text-align: center;
}

.contact-title {
    color: chocolate;
    font-size: 1.1em;
    font-weight: 600;
}

.contact-details {
    font-size: 10px;
    font-weight: 300;
    color: antiquewhite;
}

.contact .pp {
    font-size: 10px;
}
